/* #region Base styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #fff;
}
body:has(.modal-overlay.is-open) {
  overflow-y: hidden;
}
/* #endregion */

/* #region Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  border: none;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  font-family: inherit;
  color: inherit;
}
/* #endregion */

/* #region Common */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.accent-word {
  color: #4d5ae5;
}
.btn {
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-wrapper {
  display: flex;
}
.logo-header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-nav {
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  display: block;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
  position: relative;
  color: #404bbf;
}
.header-link.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.address-wrapper {
  display: flex;
  margin-left: auto;
}
.address {
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-link {
  display: block;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Hero */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_desk@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 48px;
}
/* #endregion */

/* #region Features */
.features-section {
}
.feature-list {
  display: flex;
  justify-content: space-between;
}
.feature-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 3 * 24px) / 4);
}
.feature-icon-wrapper {
  position: relative;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feature-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-desc {
  color: #434455;
}
/* #endregion */

/* #region Team */
.team-section {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
}
.card-socials-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}
.worker-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.worker-position {
  text-align: center;
  color: #434455;
}
/* #endregion */

/* #region Portfolio*/
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-wrapper {
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-img {
}
.overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text-wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-item-field {
  color: #434455;
}

/* #endregion */

/* #region Footer*/
.footer,
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-wrap-elements,
.footer-container,
.footer-general-info-block,
.footer-social-media-block,
.footer-subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.footer-wrapper,
.footer-general-info-block,
.footer-social-media-block,
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 0;
}
.logo-footer,
.footer-logo,
.footer-general-info-block .logo,
.footer-subscribe-form .logo {
  color: #f4f4fd;
  margin-bottom: 0;
}
.footer-text,
.footer-general-info-block .footer-text,
.footer-social-media-block .footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
.socials-caption {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials-list {
  width: 208px;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.footer-form-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-right: auto;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  color: #fff;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
  border-color: #31d0aa;
}
.footer-form-input::placeholder {
  color: #fff;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  align-self: flex-end;

  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}
.subscribe-icon {
  fill: #fff;
}
/* #endregion */

/* #region Modal window */
.modal-overlay,
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: opacity, visibility;
}

.modal-overlay.is-open,
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transition-delay: 0ms;
}

.modal-window,
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  opacity: 0;

  width: 408px;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}
.modal-overlay.is-open .modal-window,
.backdrop.is-open .modal,
.modal-overlay.is-open + .modal,
.backdrop.is-open + .modal-window {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-delay: 250ms;
}

body:has(.modal-overlay.is-open),
body:has(.backdrop.is-open),
body.modal-open {
  overflow-y: hidden;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #fff;
}
.form-caption {
  width: 360px;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}
.order-form {
}
.form-wrapper {
  margin-bottom: 8px;
}
.textarea-wrapper {
  margin-bottom: 16px;
}
.order-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.order-field {
  position: relative;
}
.order-input {
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-input:focus {
  border-color: #4d5ae5;
}
.order-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-input:focus + .order-icon {
  fill: #4d5ae5;
}
.order-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.order-comment:focus {
  border-color: #4d5ae5;
}
.order-checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.order-checkmark,
.modal-checkbox-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 0;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: #f4f4fd;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-checkbox-input:checked + .order-checkmark,
.modal-checkbox:checked + .modal-checkbox-custom {
  background-color: #404bbf;
  border-color: transparent;
}
.icon-order-checkmark,
.icon-modal-checkbox-checkmark {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-checkbox-input:checked + .order-checkmark > .icon-order-checkmark,
.modal-checkbox:checked + .modal-checkbox-custom > .icon-modal-checkbox-checkmark {
  opacity: 1;
}
.order-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.order-send-btn {
  display: block;
  margin: 0 auto;
}

/* #endregion */
